@import "tailwindcss";
.primary{
    color:#00c2ff ;
}
.bg-primary{
    background-color:#00c2ff ;
}
.secondary{
    color:#f98d06 ;
}
html {
    scroll-behavior: smooth;
}
#google_translate_element {
  display: none !important;
}

.goog-logo-link, .goog-te-gadget {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}
